*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Form Progress */
.progress {
	height: 100%;
  width: 100%;
  margin: 1% auto;
  text-align: center;
  background-color: white;
  border: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress .circle,
.progress .bar {
  display: inline-block;
  background: #fff;
  width: 3%; height: 40px;
  border-radius: 40px;
  border: 1px solid #d5d5da;
}
.progress .bar {
  position: relative;
  width: 20%;
  height: 6px;
  top: -40px;
  margin-left: -5px;
  margin-right: -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.progress .circle .label {
  display: inline-block;
  width: 3%;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  color: #13AB94;
  font-size: 1vw;
}
.progress .circle .title {
  color: #b5b5ba;
  font-size: 1vw;
  line-height: 30px;
  margin-left: -5px;
}

/* Done / Active */
.progress .bar.done,
.progress .circle.done {
  background: #13AB94;
}
.progress .bar.half, 
.progress .circle.active {
  background:  #89d5c9;
}
.progress .bar.active {
  background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}
.progress .circle.done .label {
  color: #FFF;
  background: #13AB94;
}
.progress .circle.done .title {
  color: #444;
}
.progress .circle.active .label {
  color: #FFF;
  background: #89d5c9;
}
.progress .circle.active .title {
  color: #89d5c9;
}

