.shut-up {
    float:left;
    display: inline-block;
    margin-top: 1em;
}
.small-icon {
    font-size: 21px;
}
.tree {
  overflow-x: auto;
}
.tree ul {
  padding-top: 20px;
  position: relative;
  white-space: nowrap;
}
.tree li {
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
  margin: 0 -2px;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
}

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /*Required to make elements draggable in old WebKit*/
  -khtml-user-drag: element;
  -webkit-user-drag: element;
} 
.papers {
  width: 100%;
  height: 100%;
  background: #eed082;
  box-shadow:
    /* The top layer shadow */
    0 1px 1px #e0d7be,
    /* The second layer */
    0 10px 0 -5px #eee,
    /* The second layer shadow */
    0 10px 1px -4px #e0d7be,
     /* The third layer */
    0 20px 0 -10px #eee,
    /* The third layer shadow */
    0 20px 1px -9px #e0d7be;
    /* Padding for demo purposes */
    padding: 10px;
}
button:focus {outline:0;}
.nopaper {
  width: 100%;
  height: 100%;
  background: #eed082;
  padding: 10px;
}


/*We will use ::before and ::after to draw the connectors*/
.tree li::before,.tree li::after {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 50%;
  height: 20px;
}
.tree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
}
/*We need to remove left-right connectors from elements without any siblings*/
.tree li:only-child::after,.tree li:only-child::before {
  display: none;
}
/*Remove space from the top of single children*/
.tree li:only-child {
  padding-top: 0;
}
/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before,.tree li:last-child::after {
  border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
  border-radius: 5px 0 0 0;
}
/*Time to add downward connectors from parents*/
.tree ul ul.hideDocGroupChildren::before {
  border-left: none !important;
}
.tree ul ul::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #ccc;
  width: 0;
  height: 20px;
}
.tree li a {
  border: 1px solid #ccc;
  padding: 10px 20px;
  text-decoration: none;
  color: #666;
  font-family: arial, verdana, tahoma;
  font-size: 20px;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.tree li a p {
  border: 1px solid #ccc;
  padding: 10px 20px;
  text-decoration: none;
  color: #666;
  font-family: arial, verdana, tahoma;
  font-size: 20px;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover {
  background: #f5e6bc;
  color: #000;
  border: 1px solid #94a0b4;
}
.tree li a:hover,.tree li a:hover+ul li a {
  background: #f5e6bc;
  color: #000;
  border: 1px solid #94a0b4;
}

/*Connector styles on hover*/
.tree li a:hover+ul li::after,.tree li a:hover+ul li::before,.tree li a:hover+ul::before {
  border-color: #94a0b4;
}

/* Inactive Group Styles*/
.tree li a.inactiveGroup:hover {
  background: #ffe8e8;
}

/* Inactive Group Styles*/
.tree li a.trashDocGroup {
  background: #ffe8e8;
}


.tree a.inactiveGroup {
	background: #ffe8e8 !important;
}
.tree li a.inactiveGroup:hover {
  background: #ffe8e8;
}
.tree li a.inactiveGroup:hover,.tree li a.inactiveGroup:hover+ul li a.inactiveGroup {
  background: #ffe8e8;
}

.note {
  position: relative;
  width: 95%;
  padding: 0.3em 1.5em;
  margin: 0.3em auto;
  background: #eed082;
  overflow: hidden;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.docHolder {
  background: #fff;
  padding: 0.3em 0.3em;
   font-size:15px;
   text-align:center;
}

.note:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #fff #fff #eed082 #eed082;
  background: #eed082;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  /* Firefox 3.0 damage limitation */
  display: block; width: 0;
}

.note.rounded {
  -moz-border-radius: 5px 0 5px 5px;
  border-radius: 5px 0 5px 5px;
}

.note.rounded:before {
  border-width: 8px;
  border-color: #fff #fff transparent transparent;
  -moz-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}